extends layout

block variables
  - var title = "Chat"

block content
  h2.text-center #{channelDetails[0].cname}        
  p
    table
      for msg in messageList
        tr
          td.
              #{msg.name} :      
          td.
              #{msg.content}
            

    .formcontainer
        p
            form(method='POST' action='/chat/sendMessage/?channel='+channelDetails[0].cid)
              div.form-group
                label(for='message') Chat:
                input#message.form-control(type='text', name='message')
              input(type='submit', value='Submit')
