extends layout

block variables
  - var title = "Home"

block content
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to Snickr!
        #[a(href="/users/login", title="login") Log in] to continue.
