extends layout

block variables
  - var title = "Invitations"

block content
  h2.text-center Workspace Invitations
  
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center
        | Pending Invitations    
        table
          for invite in winvites
            tr
              td
                | #{invite.wname}
              td
                input(type="button", value='accept') 
              td
                input(type="button", value='reject')
