extends layout

block variables
  - var title = "Invitations"

block content
  h2.text-center Workspace Invitations
  
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center
        | Pending Workspace Invitations    
        table
          for invite in winvites
            tr
              td
                | #{invite.wname}
              td
                form(method='POST' action='/invitations/workspace/?workspace='+invite.wid)
                  div.form-group
                    input(type="radio", name="status", value="accept")
                    |    accept    
                    input(type="radio", name="status", value="reject")
                    |    reject   
                    input(type="submit", value="submit")
              td

        | Pending Channel Invitations    
        table
          for invite in cinvites
            tr
              td
                | #{invite.cname}
              td
                form(method='POST' action='/invitations/channel/?channel='+invite.cid)
                  div.form-group
                    input(type="radio", name="status", value="accept")
                    |    accept    
                    input(type="radio", name="status", value="reject")
                    |    reject   
                    input(type="submit", value="submit")
              td
