extends layout

block variables
  - var title = "Search"

block content
  h2.text-center     
  p
    table
      tr
        td.
              User
        td.
              message
        td.
              Workspace Name
        td. 
              Channel Name
      for msg in message
        tr
          td.
              #{msg.name}
          td.
              #{msg.content}     
          td.
              #{msg.wname}
          td.
              #{msg.cname}
    
    style.
      tr, td{
        padding:15px
      }