extends layout

block variables
  - var title = "Channels"

block content
  h2.text-center Channels
  .formcontainer
      p
          form(method='POST' action='/workspace/addchannel/?workspace='+workspaceDetails[0].wid)
            div.form-group
              label(for='name') Channel Name:
              input#name.form-control(type='text', name='channel_name')
            div.form-group
              label(for='channel_type') Channel Type:
              
              
              input#channel_type.form-control(type='radio', name='channel_type', value='public') 
              | Public
              input#channel_type.form-control(type='radio', name='channel_type', value='private') 
              | Private
              input#channel_type.form-control(type='radio', name='channel_type', value='direct') 
              | Direct
            input(type='submit', value='Submit')

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center
        | Welcome to Workspace #{workspaceDetails[0].wname}, #{user.profile.firstName}
        
        table
          for ch in channelList
            tr
              td
                a(href="/chat/?channel="+ch.cid) #{ch.cname}
