extends layout

block variables
  - var title = "Channels"

block content
    
    -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}
    h2.text-center Channels
    table.form-table
        tr
            th
                h4.add-forms Invite User to Workspace
            th
                h4.add-forms Add New Channel
        tr
            td
                if user.id == workspaceDetails[0].wcreatorid
                    div.add-forms
                         form(method='POST' action='/workspace/sendinvite/?workspace='+workspaceDetails[0].wid)
                             div.form-group
                                 label(for='user_email') User Email:
                                 input#user_email.form-control(type='email', name='user_email', placeholder="Enter user email")
                             input(type='submit', value='Invite User to Workspace')      
            td
                div.add-forms
                    form(method='POST' action='/workspace/addchannel/?workspace='+workspaceDetails[0].wid)
                        table
                            tr
                                td.form-cell
                                    div.form-group
                                      label(for='name') Channel Name:
                                      input#name.form-control(type='text', name='channel_name')
                                    div.form-group
                                td.form-cell
                                    label(for='channel_type') Channel Type:          
                                    input#channel_type.form-control(type='radio', name='channel_type', value='public') 
                                    | Public
                                    input#channel_type.form-control(type='radio', name='channel_type', value='private') 
                                    | Private
                                    input#channel_type.form-control(type='radio', name='channel_type', value='direct') 
                                    | Direct
                            tr(col-span=2)
                                td
                                    input(type='submit', value='Submit')

    .row
        .offset-sm-2.col-sm-8
            | Welcome to #{workspaceDetails[0].wname}, #{user.profile.firstName}
            .jumbotron.text-center
                table
                    tr 
                        th.list-cell Channel Name
                        th.list-cell Created at
                    for ch in channelList
                        tr(align='left')
                            td.list-cell
                                a(href="/chat/?channel="+ch.cid) #{ch.cname}
                            td.list-cell
                                | #{prettyDate(ch.ctimestamp)}
                        
